<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style/home.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Home</title>
</head>

<body>
    <div class="home_wrap">

        <div class="main_title">플레이어 이름을 정해주세요.</div>

        <div class="">
            <div>
                <input type="text" id="player_name" value="" size="40" style="height: 30px;"
                    placeholder="플레이어 명을 등록해주세요" />
                <span class="create_btn" onclick="create_player()">등록</span>
            </div>
        </div>
    </div>



    <script>
        // 불필요한 코드
        // const select_player = player => {
        //     if (confirm('플레이어를 선택하시겠습니까?')) {
        //         var name = player.childNodes[1].innerText
        //         window.location.href = `/player/map/${name}`
        //     }
        // }

        // 플레이어 이름 등록
        const create_player = () => {
            var name = document.getElementById('player_name').value
            var key = localStorage.getItem('key')
            axios.post('/player/create',
                {
                    name: name
                }
            ).then(() => {
                location.reload()
            }).catch(err => {
                alert(err.response.data.error)
            })
        }
    </script>
</body>

</html>